/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {
margin: 0;
padding: 0;
}
html {
height: 100%;
/*Image only BG fallback*/
background: url('http://thecodeplayer.com/uploads/media/gs.png');
/*background = gradient + image pattern combo*/
background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),  url('http://thecodeplayer.com/uploads/media/gs.png');
}
body {
font-family: montserrat, arial, verdana;
background-color: transparent!important; 
}
/*form styles*/
#msform {
width: 100%;
margin: 50px auto;
text-align: center;
position: relative;
}
#msform fieldset {
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;
box-sizing: border-box;
width: 80%;
margin: 0 10%;
/*stacking fieldsets above each other*/
position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
padding: 7px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
font-family: montserrat;
color: #2C3E50;
font-size: 13px;
}
/*buttons*/
#msform .action-button {
width: 100px;
background: #27AE60;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #2C3E50;
    background-color: #C3CFDB;
    clear: left;
    padding: 13px 0;
}
.fs-subtitle {
font-weight: normal;
font-size: 13px;
color: #666;
margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
margin-bottom: 30px;
overflow: hidden;
/*CSS counters to number the steps*/
counter-reset: step;
margin-left: 10%;
}
#progressbar li {
list-style-type: none;
color: white;
text-transform: uppercase;
font-size: 9px;
width:9.7%;
float: left;
position: relative;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 20px;
line-height: 20px;
display: block;
font-size: 10px;
color: #333;
background: white;
border-radius: 3px;
margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 100%;
height: 2px;
background: white;
position: absolute;
left: -50%;
top: 9px;
z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
background: #27AE60;
color: white;
}
input.is-invalid {
    border: 2px solid red !important;
}
.header_search {
    float: left;
    clear: none;
    width: 100%;
    display: inline-block;
}
label {
 
    float: left;
    padding: 2px 11px 2px 2px;
} 
h1{
    color: #fff;
}
.left {
    width: 49%;
    float: left;
    padding: 1px 2px 2px 2px;
}
.right {
    width: 49%;
    float: right;
	 padding: 1px 2px 2px 2px;
} 

#dtVehiclesTable_length input, #dtVehiclesTable_length textarea, #dtVehiclesTable_length select {
    width: 13%;
    margin: 0 2px 0 1px;
}
/* .previous_next_buttons {
    margin-top: 43%;
} */
h1{
    color: #fff;
}
.radio label input {
    font-size: 100%;
}
.radio-choices {
    font-size: 18px;
}
input[type='radio'] {
    width: auto;
    height: 1.4em;
}
.radio-choices .radio:nth-of-type(even) {
    background: #effafa;
}
.radio-choices .radio-left {
    margin-right: 0;
    padding-right: 0;
}
.radio-choices .radio-right {
    margin-left: 0;
    padding-left: 0;
}

.radio input.checkType {
    width: 16% !important;
}
.radio label {
    display: inline-block;
    width: 80%;
}
.radio {
    width: 100%;
    display: inline-block !important;
    text-align: left;
}
.form-holder input[type="radio"] {
   float: left;
}
.form-holder.w-100 {
    text-align: left;
}
.seventh .table>thead>tr>td,.eigth .table>thead>tr>td {
    vertical-align: middle !important;
}
button#add_vehicles,button#edit_vehicles,button#add_drivers,button#edit_drivers,button#voilation_add,button#delete_voilation {
    font-size: 15px;
    padding: 4px 15px;
    border: none;
    border-radius: 3px;
}
div#dtVehiclesTable_filter label {
    text-align: right;
    float: right;
    width: 100%;
}
#dtVehiclesTable_filter input, #dtVehiclesTable_filter textarea, #dtVehiclesTable_filter select {
    width: 35%;
   
}
.dataTables_filter {
    width: 50%;
    text-align: right;
    float: right;
}
.dataTables_filter label {
    /* text-align: right; */
    float: right;
    width: 100%;
}
#dtDriverTable_filter input, #dtDriverTable_filter textarea, #dtDriverTable_filter select {
   
    width: auto;
    
}
#dtDriverTable_length input, #dtDriverTable_length textarea, #dtDriverTable_length select {
    width: auto;
  
}
.previous_next_buttons {
    clear: both;
    /* margin: 27px 0; */
    display: block;
}
div#dtDriverTable_filter input {
    width: 35%;
}
#dtVehiclesTable_filter, div#dtDriverTable_filter  {
    width: 50%;
}
div#dtVehiclesTable_length {
    width: 50%;
}
div#dtVehiclesTable_length label {
    width: 50%;
}
div#dtVehiclesTable_length label {
    width: 100%;
    float: left;
    text-align: left;
}
div#dtVehiclesTable_length #msform select {
    width: 39%;
}
@media screen and (max-width: 540px) {
    .radio {
        margin-left: 1rem;
        font-size: 1.25rem;
    }
    .radio-choices .radio-left {
        float: left;
        margin-left: -10px;
        padding-left: 0;
    }
    .radio-choices .radio-right {
        float: left;
        margin-right: -10px;
        padding-right: 0;
    }
}
input.checkType {
    float: left;
}
.confirmation_div{
    border-top: 1px dashed #000;
}
.modal-body{
    height: 350px;
    overflow-y: auto;
}